{% extends("main.html.twig") %}

{% block body %}
    <h1>Items</h1>
    <div>
        <a href="{{ path("add_item_get") }}">Add item</a> - <a href="{{ path("empty_cart") }}" onclick="confirmEmptyCart(event)">Empty cart</a>
    </div>
    <div>
        <table border="1 solid">
            <tr>
                <th>Element</th>
                <th>Action</th>
            </tr>
            {% for item in items %}
            <tr>
                <td>{{ item.title }}</td>
                <td><a href="{{ path('edit_item_get', {'itemId' : item.id}) }}">Edit</a> - <a href="{{ path('delete_item', {'itemId' : item.id}) }}">Delete</a></td>
            </tr>
            {% endfor %}
        </table>
        <ul>

        </ul>
    </div>

    <script>
        function confirmEmptyCart(e){
            var msg = confirm("You'll empty your cart, are you sure ?!");
            if (msg == true){
                return true;
            } else {
                e.preventDefault();
            }
        }
    </script>

{% endblock %}

{% block title %}
    List | Cart
{% endblock %}
